<form [formGroup]="myForm" (ngSubmit)="show()">
  <div>
    <label for="mail">mail</label><br>
    <input type="email" id="mail" name="mail" [formControl]="mail">
    <span *ngIf="mail.errors?.required">メールアドレスは必須です</span>
    <span *ngIf="mail.errors?.email">メールアドレスを正しい形式で入力してください</span>
  </div>
  <div>
    <label for="password">password</label><br>
    <input type="password" id="password" name="password" [formControl]="password">
    <span *ngIf="password.errors?.required">パスワードは必須です</span>
    <span *ngIf="password.errors?.minlength">パスワードは6文字以上で入力してください</span>
  </div>
  <div>
    <label for="name">name</label><br>
    <input type="text" id="name" name="name" [formControl]="name">
    <span *ngIf="name.errors?.required">名前は必須です</span>
    <span *ngIf="name.errors?.minlength">名前は3文字以上で入力してください</span>
    <span *ngIf="name.errors?.maxlength">名前は10文字以内で入力してください</span>
  </div>
  <div>
    <label for="memo">memo</label><br>
    <textarea id="memo" name="memo" rows="5" cols="30" [formControl]="memo"></textarea>
    <span *ngIf="memo.errors?.maxlength">備考は10文字以上で入力してください</span>
  </div>
  <div>
    <input type="submit" value="送信" [disabled]="myForm.invalid">
  </div>
</form>