button {
  border-radius: 5px;
  border: none;
  padding: 0.5em 0.5em;
  min-width: 150px;
  color: #fff;
  background: #000;
  outline: none;
  margin-top: 0.5em;
}

button:hover {
  cursor: pointer;
}