<h2>フォームサンプル</h2>
<!-- #myForm="ngForm"でngFormディレクティブを変数に格納、後からコントロールの状態や検証結果などにアクセスができる -->
<!-- ngSubmitはngForm版のsubmitイベント -->
<form #myForm="ngForm" (ngSubmit)="show()">
  <div>
    <label for="mail">Mail:</label><br>
    <input id="mail" name="mail" type="email" [(ngModel)]="user.mail" #mail="ngModel" required email>
    <span *ngIf="mail.errors?.required">メールアドレスは必須です</span>
    <span *ngIf="mail.errors?.email">メールアドレスは正しい形式で入力してください</span>
  </div>
  <div>
    <label for="password">password:</label><br>
    <input id="password" name="password" type="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6">
    <span *ngIf="password.errors?.required">パスワードは必須です</span>
    <span *ngIf="password.errors?.minlength">パスワードは6文字以上で入力してください</span>
  </div>
  <div>
    <label for="name">name:</label><br>
    <input id="name" name="name" type="text" [(ngModel)]="user.name" #name="ngModel" required minlength="3" maxlength="10">
    <span *ngIf="name.errors?.required">名前は必須です</span>
    <span *ngIf="name.errors?.minlength">名前は3文字以上で入力してください</span>
    <span *ngIf="name.errors?.maxlength">名前は10文字以内で入力してください</span>
  </div>
  <div>
    <label for="memo">memo:</label><br>
    <textarea id="memo" name="memo" rows="5" cols="30" [(ngModel)]="user.memo" #memo="ngModel" maxlength="10"></textarea>
    <span *ngIf="memo.errors?.maxlength">備考は10文字以内で入力してください</span>
  </div>
  <div>
    <!-- フォーム全体に検証エラーがあるかを確認するには#myForm.invalidを使う/#myForm.submittedで一度送信したら非活性に -->
    <input type="submit" value="送信" [disabled]="myForm.invalid||myForm.submitted">
    <!-- フォームが全く更新されていない場合はリセットボタンは非活性 -->
    <input type="reset" value="リセット" [disabled]="myForm.pristine">
  </div>
  <!-- 検証用 -->
  <pre>{{myForm.value|json}}</pre>
  <span>mailが正しい(mail.valid)：{{mail.valid}}</span><br>
  <span>mailが正しくない(mail.invalid)：{{mail.invalid}}</span><br>
  <span>mailが変更されていない(mail.pristine):{{mail.pristine}}</span><br>
  <span>mailが更新されている(mail.dirty):{{mail.dirty}}</span><br>
  <span>mailが一度でもフォーカスが入ってblurしている(mail.touched):{{mail.touched}}</span><br>
  <span>mailが一度もフォーカスが入ってblurしていない(mail.untouched):{{mail.untouched}}</span><br>
</form>
<hr>
<form #myForm2="ngForm">
  <ng-container *ngFor="let item of data; index as i">
    <label>
      <input type="radio" name="animal" [(ngModel)]="selected" [value]="item.value" [checked]="selected === item.value" (change)="check(i)">
      {{item.label}}
    </label><br>
  </ng-container>
</form>
<hr>
<form>
  <ng-container *ngFor="let item of data2; index as i">
    <label>
      <input type="checkbox" name="sweet{{i}}" [(ngModel)]="data2[i].selected" [value]="item.value" (change)="check2()">
      {{item.label}}
    </label><br>
  </ng-container>
</form>