Options +FollowSymLinks
RewriteEngine On
RewriteBase /php_mvc/public_html/sample/htdocs/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(pdf|ico|gif|jpg|png|css|html|xml)$ index.php