@charset 'UTF-8';

.c-2col{
  box-sizing: border-box;
  &_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &_col {
    width: 50%;
    text-align: center;
    background: #eee;
    border: 1px solid #999;
  }
}

.c-3col{
  box-sizing: border-box;
  &_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &_col {
    width: 33.33333%;
    text-align: center;
    background: #eee;
    border: 1px solid #999;
  }
}

.c-btn {
  display: inline-block;
  border-radius: 1000px;
  display: inline-block;
  border-radius: 1000px;
  background: #333;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 1.0;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 2.0rem 3.5rem 2.0rem;
  transition: opacity 1s ease;
  min-width: 24.0rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  & a {
    display: block;
    width: 100%;
    color: #fff;
  }
  &.-wideFixed300 {
    min-width: 300px;
  }
  &.-iconRightArrow {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 2rem;
      background: #fff;
      width: 2px;
      height: 12px;
      margin-top: -3px;
      transform: rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 2rem;
      background: #fff;
      width: 2px;
      height: 12px;
      margin-top: -10px;
      transform: rotate(135deg);
    }
  }
  &.-iconLeftArrow {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 2rem;
      background: #fff;
      width: 2px;
      height: 12px;
      margin-top: -10px;
      transform: rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 2rem;
      background: #fff;
      width: 2px;
      height: 12px;
      margin-top: -3px;
      transform: rotate(135deg);
    }
  }
}
.c-centered {
  &_wrap {
    width: 100%;
    position: relative;
    background: url(./images/bg.jpg) top center no-repeat;
    background-size: cover;
    min-height: 320px;
  }
  &_box {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
