@charset "utf-8";

//変数
$BASECOLOR: #333;
$MAINCOLOR: #0f1269;
$CONTENTWIDTH: 940px;
$DEDAULTMEDIAQUERY: 767px;

//Mixin
@mixin UP($mq: $DEDAULTMEDIAQUERY) {
  @media screen and (min-width: $mq + 1)  {
    @content;
  }
}
@mixin DOWN($mq: $DEDAULTMEDIAQUERY) {
  @media screen and (max-width: $mq)  {
    @content;
  }
}